name: Deploy to AWS Lambda

on:
  push:
    branches: [ "master" ]

permissions:
  id-token: write   # This is required for OIDC authentication
  contents: read    # This is required to checkout the repository

jobs:
  deploy:
    name: Deploy to AWS Lambda
    runs-on: ubuntu-latest
    environment: production

    steps:
    - name: Checkout code
      uses: actions/checkout@v5

    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '8.0.x'

    - name: Restore dependencies
      run: dotnet restore Api/Api.csproj

    - name: Publish Lambda package
      run: dotnet publish Api/Api.csproj -c Release -o ./publish

    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v4
      with:
        role-to-assume: ${{ secrets.DEPLOY_ROLE }}
        aws-region: ${{ secrets.AWS_REGION }}

    - name: Deploy to Lambda
      uses: aws-actions/aws-lambda-deploy@v1.1.0
      with:
        function-name: ApiTechJobsLambda
        code-artifacts-dir: ./publish
        publish: true
        handler: Api
        runtime: dotnet8
